.purchase {
   display: flex;
   flex-direction: column;
   .payment-item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      user-select: none;
      border: 1px solid #cc9e14;
      border-radius: 30px;
      min-height: 90px;
      margin-top: 16px;
      font-weight: 400;
      font-size: 13px;
      color: #000;
      &:hover {
         background-color: #cc9e14;
      }
      .mb-2 {
         display: flex;
         img {
            height: 12px;
            width: 100%;
         }
      }
   }
}
