.history-container {
   gap: 10px;
   .history-item {
      .history-image {
         background-position: top center;
         background-repeat: no-repeat;
         background-size: contain;
         cursor: pointer;
         &:hover {
            opacity: 0.9;
         }
      }
      .history-info {
         display: flex;
         justify-content: space-around;
         flex-direction: column;
         p {
            margin: 0;
         }
         .history-book {
            font-size: 13px;
            color: #333;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 500;
            &:hover {
               color: #b78a28;
            }
            cursor: pointer;
         }
         .history-chapter {
            color: #666;
            font-size: 13px;
            word-spacing: 3px;
            .delete-history {
               cursor: pointer;
               &:hover {
                  color: #b78a28;
               }
            }
         }
      }
      .history-read {
         text-wrap: nowrap;
         color: #b78a28;
         font-size: 10px;
         display: flex;
         align-items: center;
         cursor: pointer;
         &:hover {
            opacity: 0.9;
         }
      }
   }
}
