.sort-menu {
   .sort-item {
      font-size: 14px;
      font-weight: 500;
      white-space: nowrap;
      cursor: pointer;
      .dropdown-toggle {
         padding: 0 10px;
         &.active {
            color: var(--main-color);
            &:hover {
               color: #785b1a;
            }
         }
      }
      .dropdown-menu {
         margin-top: 10px;
         padding: 0;
         .dropdown-item {
            padding: 10px;
            &.active {
               background-color: var(--main-color);
               color: #fff;
               &:hover {
                  background-color: #785b1a;
               }
            }
            &:active {
               background-color: var(--main-color);
            }
         }
      }
      &:not(.drop) {
         padding: 0 10px;
      }
      .active {
         color: var(--main-color);
         &:hover {
            color: #785b1a;
         }
      }
   }
}
