.new-book-section {
   user-select: none;
   .slider-img {
      &:hover {
         opacity: 0.8;
      }
      &.converter {
         display: flex;
         justify-content: center;
         img {
            width: 150px !important;
         }
      }
   }
   .book-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      .btn-read {
         background-color: var(--bg-danger);
         color: #fff;
         border-radius: 30px;
         padding: 10px 40px;
         margin-top: 25px;
         font-weight: 600;
         &:hover {
            background-color: #94221c;
         }
         &:focus {
            box-shadow: 0 0 0 0.2rem rgba(201, 76, 69, 0.5);
         }
      }
   }
}

.swiper-slide-active {
   cursor: pointer;
}

.swiper-slide-prev,
.swiper-slide-next {
   opacity: 0.7;
}

.newest {
   .swiper-button-prev,
   .swiper-button-next {
      color: #666;
      background-color: #fff;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      &::after {
         font-size: 14px;
      }
      &:hover {
         opacity: 0.8;
      }
   }
}

.converter {
   .swiper-button-prev,
   .swiper-button-next {
      color: #666;
      width: 27px;
      height: 44px;

      &::after {
         font-size: 30px;
         font-weight: 600;
      }
      &:hover {
         opacity: 0.8;
      }
   }
}
