.list-group {
   display: flex;
   flex-direction: column;
   background-color: #fcfcfa;
   .category-item {
      color: #333;
      padding: 12px 20px;
      font-weight: 500;
      font-size: 14px;
      cursor: pointer;
      &:hover,
      &.active {
         color: #fff;
         background-color: var(--main-color);
      }
   }
}
