.menu-setting {
   right: 80px;
   top: 30px;
   border-radius: 0.5rem;
   user-select: none;
   box-shadow: 0px 0px 1px 0 rgba(0, 0, 100, 0.35);
   .setting-item {
      cursor: pointer;
      .fa-arrow-left,
      .fa-info-circle {
         padding: 15px 25px;
      }
      .dropdown-toggle {
         padding: 15px 25px;
         &::before {
            display: none;
         }
      }
      .dropdown-menu {
         border-radius: 0;
         box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.09);
      }
   }
   hr {
      margin: 0;
   }
}
