.main-button {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   cursor: pointer;
   padding: 10px 20px;
   border: 1px solid;
   border-radius: 30px;
   font-weight: 600;
   &.outline {
      background-color: transparent;
      &.btn-gray {
         color: #666;
         &:hover {
            background-color: #666;
            color: #fff;
         }
      }
      &.btn-beige {
         color: #b78a28;
         &:hover {
            color: #666;
         }
      }
   }
   &.primary {
      color: #fff;
      &.btn-red {
         background-color: #bf2c24;
         &:hover {
            background-color: #9f251e;
         }
      }
      &.btn-beige {
         background-color: #b78a28;
         &:hover {
            opacity: 0.8;
         }
      }
   }
}
