.notification {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 20px;
   padding: 0 !important;

   &.show {
      background-color: #fff;
      .new-notification {
         visibility: hidden;
      }
   }
   .dropdown-toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex: 1;
      height: 100%;
      width: 100%;
      &:hover {
         opacity: 0.8;
      }
      .fa-bell {
         cursor: pointer;
         transform: translateX(50%);
      }
      .new-notification {
         background-color: var(--main-color);
         color: #fff;
         font-size: 10px;
         font-weight: 500;
         padding: 2px;
         border-radius: 50%;
         width: 18px;
         height: 18px;

         transform: translateX(-10%) translateY(-50%);
      }
      &::after {
         display: none;
      }
   }

   .dropdown-menu {
      padding: 0;
      position: absolute;
      min-width: 386px;
      border: none;
      border-radius: 0%;
      box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.09);

      .notification-item {
         padding: 10px 0;
         margin-bottom: 0;
         &:last-child {
            padding-left: 24px;
            color: var(--main-color);
            font-weight: 400;
            background-color: rgba(51, 34, 0, 0.05);

            display: block;
         }
         li {
            list-style-position: inside;
            padding: 10px 20px;
            a {
               font-weight: 400;
               color: #000;
            }
         }
      }
   }
}
