.rank {
   position: relative;
   .rank-title {
      text-wrap: nowrap;
   }
   .rank-menu {
      display: none;
   }
   &:hover {
      .rank-menu {
         box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.09);
         position: absolute;
         z-index: 20;
         top: var(--header-height);
         left: 0;
         display: flex;
         width: 100%;
         padding: 10px 0;
         flex-direction: column;
         text-align: left;
         margin-left: 1px;
         background-color: #fff;
         .rank-item {
            text-wrap: nowrap;
            padding: 10px 30px;
            font-weight: 400;
            color: #000;
            &:hover {
               color: #b78a28;
            }
         }
      }
   }
}
