.counter {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   font-weight: 600;
   i {
      height: 38px;
      width: 38px;

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 1px solid #eee;
   }
}
