.chapter-detail-page {
   padding-bottom: 30px;
   .chapter-main {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
      .chapter-data {
         position: relative;
         border-radius: 10px;
         padding: 24px 64px;
         min-height: 100vh;
         .chapter-btn {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            .btn-item {
               font-size: 18px;
               padding: 8px 21px;
               border-radius: 30px;
               &.disabled {
                  opacity: 0.5;
               }
            }
         }
         .chapter-title {
            font-weight: 400;
         }
         .chapter-info {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
            font-size: 15px;
            span {
               margin-right: 20px;
               i {
                  margin-right: 5px;
               }
            }
         }
         .chapter-content {
            margin-top: 30px;
         }
      }
   }
}

.chapter-btn {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
   .btn-item {
      background-color: hsla(0, 0%, 100%, 0.35);
      font-size: 18px;
      padding: 8px 21px;
      border-radius: 30px;
      box-shadow: 0px 0px 1px 0 rgba(0, 0, 100, 0.35);
   }
}

.action-bar {
   margin: 20px 0;
   display: flex;
   border-radius: 0.5rem;
   text-align: center;
   font-size: 16px;

   .btn-item {
      padding: 16px 24px;
      flex: 1;
   }
   .btn-report {
      font-size: 20px;
      padding: 16px 24px;
      cursor: pointer;

      border-left: 1px solid rgba(0, 0, 0, 0.05);
      border-right: 1px solid rgba(0, 0, 0, 0.05);
   }
   .btn-item,
   .btn-report {
      &:hover {
         background-color: hsla(0, 0%, 100%, 0.15);
      }
   }
}
