.about-user {
   padding: 0 15px;
   .user-info {
      margin-top: 3rem;
      align-items: center;
      justify-content: center;
      .user-img {
         width: 90px;
         height: 90px;
         border-radius: 50%;
         padding: 0;
      }
      .created-date {
         font-weight: 500;
         color: #666;
         font-size: 14px;
      }
   }
   .user-quote {
      padding: 10px 20px;
      font-size: 14px;
      margin: 30px 0;
      position: relative;
      border-radius: 0.5rem;
      border: 1px solid #eee !important;
      &::after,
      &::before {
         content: "";
         position: absolute;
         border-top: 0;
         top: -12px;
         left: 32px;
      }
      &::before {
         border-left: 12px solid transparent;
         border-right: 12px solid transparent;
         border-bottom: 12px solid #eee;
         width: 24px;
      }
      &::after {
         top: -10px;
         left: 34px;
         border-left: 10px solid transparent;
         border-right: 10px solid transparent;
         border-bottom: 10px solid #fff;
         width: 20px;
      }
   }
}
