.guide-modal {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;

   .guide-close {
      margin-top: 20px;
      padding: 10px 30px;
      color: #fff;
      font-weight: 600;
      background-color: var(--main-color);
      border-radius: 30px;
      cursor: pointer;
      &:hover {
         opacity: 0.8;
      }
   }
}
