.rank-page {
   padding: 20px 10px;
   .rank-category {
   }
   .rank-type {
      display: flex;
      justify-content: flex-end;
      outline: none;
      border: none;
      font-size: 14px;
      .dropdown-toggle {
         padding: 10px;
      }
      .dropdown-menu {
         padding: 0;
         .dropdown-item {
            padding: 10px;
            font-size: 14px;
            cursor: pointer;
            &.active,
            &:hover {
               background-color: var(--main-color);
               color: #fff;
            }
         }
      }
   }
   .book-container {
      gap: 20px;
      hr {
         margin: 0;
      }
   }
}
