.converter-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--bg-gray);
   padding: 24px;
   border-radius: 0.5rem;
   .converter-avatar {
      height: 90px;
      width: 90px;
      border-radius: 50%;
   }
   .converter-name {
   }
   .converter-info {
      width: 100%;
      text-align: center;
      justify-content: center;

      border-bottom: 1px solid #eee;
      padding-bottom: 10px;
      .converter-item {
         .item-icon {
            color: var(--main-color);
            font-size: 20px;
         }
      }
   }
   .new-book-section {
      padding-top: 20px;
      width: 100%;
   }
}
