.bookcase {
   .bookcase-tabs {
      .tab-data {
         .data-item {
            img {
               cursor: pointer;
               &:hover {
                  opacity: 0.8;
               }
            }
            .book-title {
               color: #333;
               &:hover {
                  color: var(--main-color);
               }
            }
            .fa-trash,
            .fa-bell {
               cursor: pointer;
               font-size: 16px;
               &:hover,
               &.active {
                  color: var(--bg-danger);
               }
            }
         }
      }
   }
}
