body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

html,
body {
   height: 100%;
   margin: 0;
}

input,
textarea {
   outline: none;
   border: none;
   border-radius: 30px;
   &:focus {
      box-shadow: 0 0 0 0.2rem rgba(183, 138, 40, 0.25);
   }
   &::placeholder {
      color: #9d9d9d;
      font-weight: 600;
   }
}

.ant-input-affix-wrapper-focused {
   box-shadow: 0 0 0 0.2rem rgba(183, 138, 40, 0.25) !important;
}

.ant-input {
   &:focus {
      box-shadow: 0 0 0 0.2rem rgba(183, 138, 40, 0.25) !important;
   }
}

.ant-checkbox {
   .ant-checkbox-inner {
      border-color: #b78a28 !important;
   }
}

.ant-checkbox-checked {
   box-shadow: 0 0 0 0.2rem rgba(183, 138, 40, 0.25) !important;

   .ant-checkbox-inner {
      border-color: #b78a28 !important;
      background-color: #b78a28 !important;
   }
}

a {
   text-decoration: none !important;
   font-weight: 600;
}

.ant-tabs-tab-btn {
   font-weight: 600;
   font-size: 20px;
   &:hover {
      color: #b78a28 !important;
   }
}

.ant-tabs-tab:hover {
   color: #b78a28 !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
   color: #b78a28 !important;
}

.ant-tabs-ink-bar {
   background-color: #b78a28 !important;
}

.swiper-button-next {
   &::after {
      content: "→" !important;
   }
}
.swiper-button-prev {
   &::after {
      content: "←" !important;
   }
}

.swiper-pagination-bullet-active {
   background-color: var(--main-color) !important;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}
