@font-face {
   font-family: "Palatino Linotype";
   src: url("../assets/fonts/palatino-linotype.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: block;
}

@font-face {
   font-family: "Source Sans Pro";
   src: url("../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
   font-display: block;
}

@font-face {
   font-family: "Patrick Hand";
   src: url("../assets/fonts/PatrickHand-Regular.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
   font-display: block;
}

@font-face {
   font-family: "Roboto";
   src: url("../assets/fonts/Roboto-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: block;
}

@font-face {
   font-family: "Noticia Text";
   src: url("../assets/fonts/NoticiaText-Regular.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
   font-display: block;
}
