.book-info-section {
   .book-image {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      padding: 0;
      height: 280px;
      width: 210px;
      &:hover {
         opacity: 0.9;
      }
   }
   .book-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 15px;
      padding: 0;
      margin-left: 20px;
      .title {
         h4 {
            margin: 0;
         }
         display: flex;
         align-items: center;
      }
      .book-data {
         display: flex;
         gap: 30px;

         .number {
            font-weight: bold;
         }
         .label {
            color: #666;
            font-size: 13px;
         }
      }
      .rating {
         display: flex;
         gap: 20px;
         font-size: 13px;
      }
      .btn-container {
         display: flex;
         gap: 20px;
      }
   }
}
