.home-page {
   padding: 15px;

   .new-finish-row {
      .left-item,
      .right-item {
         padding: 1.5rem 1rem;
      }

      .left-item {
         background-color: var(--bg-gray);
      }
   }
}
