.chapter-list {
   min-width: 800px;
   max-height: 500px;
   padding: 20px;
   .list-title {
      display: flex;
      justify-content: space-between;
      .sort-chapter {
         font-size: 20px;
         cursor: pointer;
      }
   }
   .list-container {
      .list-item {
         color: #000;
         overflow: hidden;
         font-weight: 400;
         text-overflow: ellipsis;
         text-wrap: nowrap;
         padding: 5px 20px;
         font-size: 13px;
         cursor: pointer;
         &:hover {
            color: #b78a28;
         }
      }
   }
}
