.latest-section {
   .table-latest {
      border-top: 1px solid #eee;
      width: 100%;
      tr {
         &:nth-child(even) {
            background-color: #fcfcfa;
         }
         td {
            padding: 12px;
            color: #999;
            font-size: 14px;
            &.book,
            &.chapter {
               a {
                  color: #212529;
                  padding: 0;
                  &:hover {
                     color: #b78a28;
                  }
               }
            }
            &.chapter a,
            &.author {
               font-weight: 400;
               color: #212529;
            }
         }
      }
   }
}
