.default-layout {
   display: flex;
   flex-direction: column;
   user-select: none;
   .banner {
      position: absolute;
      overflow: hidden;
      top: 72px;
      z-index: 0;
      width: 100%;
      height: 380px;
   }
   .content-container {
      z-index: 1;
      background: #fff;
      margin: 0 7%;
      margin-top: 240px;

      min-height: 50px;
      border-radius: 10px;
   }
}
