.help-section {
   .help-title {
   }
   .help-list {
      padding: 0;
      padding-left: 16px;
      .help-item {
         &:hover {
            color: #b78a28;
         }
         a {
            color: #333;
            font-weight: 400;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:hover {
               color: #b78a28;
            }
         }
      }
   }
}
