.rating-card {
   border-radius: 0.5rem;
   padding: 20px;
   background-color: var(--bg-gray);
   min-height: 160px;
   .rating-header {
      align-items: center;
      padding: 0 15px;

      .rating-avatar {
         background-color: #fff;
         height: 45px;
         width: 45px;
         border-radius: 50%;
         margin-right: 2px;
         padding: 0;
      }
      .rating-info {
         .rating-user {
            color: #666;
            a {
               color: #333;
            }
         }
         .rating-book {
            color: var(--bg-danger);
         }
      }
      .rating-point {
         background-color: var(--bg-danger);
         text-align: center;
         color: #fff;
         border-radius: 30px;
         font-weight: 600;
      }
   }
   .rating-content {
   }
}
