.user {
   justify-content: center;
   position: relative;
   user-select: none;
   padding: 0 !important;
   &.show {
      background-color: #fff;
   }
   .dropdown-toggle {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      &::after {
         display: none;
      }
   }

   .user-menu {
      min-width: 280px;
      box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.09);
      border: none;
      border-radius: 0%;

      text-align: left;
      hr {
         margin: 0;
      }
      .user-item {
         display: flex;
         padding: 10px 40px 10px 20px;
         font-weight: 450;
         color: #000;
         &:not(:first-child):hover {
            color: #b78a28;
         }
         &.user-info {
            display: flex;
            align-items: center;
            gap: 10px;
            .user-avatar {
               width: 45px;
               height: 45px;
            }
         }
         .svg-icon {
            width: 20px;
            height: 20px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            font-size: 14px;
            margin-right: 3px;
         }
         .user-name {
            font-weight: 600;
            margin-bottom: 4px;
            cursor: default;
            &:hover {
               color: #000;
            }
         }
         .icon-flower {
            background-image: url("../../../assets/images/flower.svg");
         }
         .icon-candy {
            margin-left: 20px;
            background-image: url("../../../assets/images/candy.svg");
         }
         .number-candy,
         .number-flower {
            color: #000;
            &:hover {
               color: var(--main-color);
            }
         }
      }
   }
}
