.modal-authen {
   display: flex;
   flex-direction: column;
   justify-content: center;

   .tab-container {
      display: flex;
      justify-content: center;
      padding: 14px;
      gap: 20px;
      .tab-item {
         cursor: pointer;
         color: #999;
         font-size: 23px;
         font-weight: 600;
         &:hover {
            color: #737373;
         }
      }
      .active {
         color: #000;
         &:hover {
            color: #b78a28;
         }
      }
   }
   .form-container {
      justify-content: center;

      .login-form,
      .register-form {
         font-weight: 600;

         .input-field {
            border-radius: 30px;
            border: none;
            padding: 0.5rem 1.25rem;
            background-color: #f7f7f7 !important;
            &::placeholder {
               color: #737373;
            }
            input {
               background-color: #f7f7f7 !important;
               &::placeholder {
                  color: #737373;
               }
            }
         }

         .btn-submit {
            background-color: #b78a28;
            padding: 10px;
            text-align: center;
            font-weight: 600;
            color: #fff;
            border-radius: 30px;
            cursor: pointer;
            border: none;
            margin-bottom: 10px;
            &:focus {
               box-shadow: 0 0 0 0.2rem rgba(194, 156, 72, 0.5);
            }
            &:hover {
               background-color: #785b1a;
            }
         }
      }

      .signup {
         font-weight: 600;
         color: #b78a28;
         cursor: pointer;
         &:hover {
            color: #785b1a;
         }
      }
   }
}
