.rating-tab {
   .rating-form {
      background-color: #f7f5f0 !important;
      border-radius: 0.5rem;
      padding: 0 10px;
      .rating-point {
         padding: 10px;
         .rating-slider {
            padding: 10px 0;
            align-items: center;
            color: var(--main-color);
            font-weight: 600;
            font-size: 15px;
            .label {
            }
            .slider {
               padding: 0;

               -webkit-appearance: none; /* Ẩn kiểu mặc định của trình điều chỉnh trên Chrome/Safari */
               appearance: none; /* Ẩn kiểu mặc định của trình điều chỉnh trên các trình duyệt khác */
               height: 4px;
               /* Thiết lập giao diện của thanh trình điều chỉnh */
               background: rgba(183, 138, 40, 0.2);
               border-radius: 5px;

               &::-webkit-slider-thumb {
                  -webkit-appearance: none;
                  appearance: none;
                  width: 24px;
                  height: 24px;
                  background: var(--main-color);
                  border: 2px solid var(--main-color);
                  border-radius: 50%;
                  cursor: pointer;
               }
            }
            .point {
               text-align: center;
            }
         }
      }
      .rating-content {
         padding: 10px;
         .comment-form {
            padding: 0;

            .comment-input {
               border-radius: 0.5rem;
               background-color: #fff;
            }
            .comment-send {
               background-color: var(--main-color);
               padding: 10px;
               border-radius: 50%;
               color: #fff;
               cursor: pointer;
            }
         }
      }
   }

   .rating-container {
      margin-top: 30px;
   }

   .satistic {
      background-color: #f7f5f0 !important;
      border-radius: 0.5rem;
      color: var(--main-color);
      padding: 20px;

      .satistic-row {
         padding: 0 10px;
         .satistic-item {
            padding: 5px 0;
         }
      }
   }

   .attention {
      margin-top: 20px;
      background-color: #f7f5f0 !important;
      border-radius: 0.5rem;
      color: var(--main-color);
      padding: 20px 10px;
      ol {
         padding: 0 0 0 20px;
         li {
            padding: 7px 0;
         }
      }
   }
}
