.comment-container {
   display: flex;
   flex-direction: column;
   i {
      margin-right: 5px;
   }

   .comment-item {
      display: flex;
      gap: 10px;
      padding: 8px 0;
      hr {
         margin: 0rem;
      }
      .comment-avatar {
         height: 45px;
         width: 45px;
         border-radius: 50%;
      }
      .comment-main {
         display: flex;
         flex-direction: column;
         flex: 1;
         .comment-name {
            display: flex;
            justify-content: space-between;
            font-weight: 600;
            font-size: 16px;
            .comment-delete {
               cursor: pointer;
               color: #bf2c24;
               &:hover {
                  color: #9f251e;
               }
            }
         }
         .comment-time {
            display: flex;
            font-size: 13px;
            color: #666;
            gap: 10px;
         }
         .comment-content {
            margin-top: 10px;
         }
         .comment-action {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left-action {
               .has-replies {
                  cursor: pointer;
                  font-weight: 600;
               }
            }

            .right-action {
               display: flex;
               margin-top: 1rem;
               align-self: flex-end;
               gap: 30px;
               color: #666;
            }
         }
      }
   }
}
