.search-container {
   padding: 0 2rem;
   position: relative;
   .search-input {
      width: 100%;
      padding: 0.5rem 1.5rem;
      border-radius: 30px;
      border: 0;
      :focus {
         box-shadow: 0 0 0 2px #b78a28 !important;
      }
   }
   .fa-search {
      position: absolute;
      top: 5px;
      right: 30px;
      color: #b78a28;
      font-size: 25px;
      cursor: pointer;
   }
}
