:root {
   --header-height: 72px;
}

.header-content {
   background-color: rgba(51, 34, 0, 0.05);
   padding: 0 8%;
   height: var(--header-height);
   align-items: center;
   justify-content: space-between;
   font-size: 14px;
   font-weight: 600;
   width: 100%;
   margin: 0 !important;
   z-index: 20;
   .logo {
      width: 48px;
      height: 48px;
      padding: 0;
      cursor: pointer;
   }
   .header-left,
   .header-right {
      .header-item {
         display: flex;
         align-items: center;
      }
   }

   .header-left {
      height: 100%;
      align-items: center;

      .genre,
      .rank {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100%;
         &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.02);
         }
      }
   }
   .header-mid {
      .search-bar {
      }
   }
   .header-right {
      position: relative;
      height: 100%;
      .upload {
         display: flex;
         color: inherit;
         font-size: 20px;
         p {
            margin: 0;
            margin-left: 5px;
            font-size: 14px;
         }
      }
      .upload,
      .login,
      .register {
         cursor: pointer;
         &:hover {
            color: #b78a28;
         }
      }

      .user {
         cursor: pointer;
         display: flex;
         align-items: center;
         gap: 10px;
         .user-avatar {
            height: 32px;
            width: 32px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;

            border-radius: 50%;
         }
         .user-name {
         }
      }
   }
}
