.rank-container {
   border-radius: 10px;
   box-shadow: 0 10px 25px 0 #d7d4ce;
   padding: 20px 15px;
   h5 {
      margin-bottom: 20px;
   }
   .table {
      tr {
         &:first-child {
            td {
               border-top: none;
            }
         }
         &:last-child {
            td {
               border-bottom: none;
            }
         }
      }
      th {
         border: none;
         text-align: center;
      }
      td {
         font-size: 0.9375rem;
         .fas,
         span {
            margin-left: 3px;
            color: #666;
         }

         .rank-type-comment {
            color: #b78a28;
            margin-left: 3px;
         }
         .rank-type-view {
            color: #088860;
            margin-left: 3px;
         }
         .rank-type-flower {
            margin-left: 3px;
         }

         a {
            color: #000;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover {
               color: #b78a28;
            }
         }
      }
   }
}

.b-cover {
   transform: perspective(70px) rotateY(-7deg);

   &::after {
      position: absolute;
      top: 2%;
      width: 7px;
      height: 96%;
      content: " ";
      background-color: #efefef;
      transform: perspective(70px) rotateY(30deg);
      box-shadow: inset 0px 0px 5px #000;
   }
   .b-img {
      z-index: 10;
      width: 70px;
      height: 105px;
      outline: 1px solid transparent;
      vertical-align: middle;
   }
   &:hover {
      opacity: 0.9;
   }
}
