.password-input {
   position: relative;
   display: flex;
   align-items: center;
   input {
      width: 100%;
   }
   .fas {
      position: absolute;
      right: 15px;
      color: #ccc;
      cursor: pointer;
      &:hover {
         color: var(--main-color);
      }
   }
}
