.read-config {
   min-width: 500px;
   padding: 10px 30px;
   .config-menu {
      color: #666;
      font-size: 16px;
      .menu-item {
         justify-content: space-between;
         .col-7 {
            flex: 1;
            padding: 0;
         }
         .font-select {
            border: 1px solid #eee;
            outline: none;
            // border-radius: 0.5rem;
            padding: 5px 10px;
            &:focus {
               box-shadow: 0 0 0 0.2rem rgba(194, 156, 72, 0.5);
            }
         }
         .color-container {
            .color-item {
               div {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  .fa-check {
                     color: var(--main-color);
                  }
               }
            }
         }
      }
   }
}
