.option-section {
   user-select: none;
   .select {
      .select-container {
         display: flex;
         flex-wrap: wrap;
         gap: 7px;
         .search-item,
         .select-item {
            background-color: #666;
            color: #fff;
            border-radius: 5px;
            padding: 4px;
            font-size: 12px;
            .fas {
               cursor: pointer;
            }
         }
         .search-item {
            background-color: var(--bg-danger);
         }
      }
   }
   .option {
      .option-container {
         display: flex;
         flex-wrap: wrap;
         gap: 7px;

         .option-item {
            font-size: 11px;
            color: #666;
            border: 1px solid #666;
            border-radius: 5px;
            padding: 4px;
            font-weight: 500;
            cursor: pointer;
            &:hover,
            &.active {
               color: #fff;
               background-color: #666;
            }
         }
      }
   }
}
