.loading {
   display: flex;
   align-items: center;
   justify-content: center;
   i {
      padding: 20px;
      font-size: 24px;
      color: var(--main-color);
      animation: spin 1s linear infinite;
   }
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
