.content-container {
   // margin: 0 !important;
   // margin-top: 400px !important;
   // border-radius: 0 !important;
   // background-color: transparent;

   .error-page {
      box-shadow: 0px -30px 75px 75px rgba(255, 255, 255, 1);
      padding-bottom: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
         color: var(--main-color);
      }
   }
}
