.information-page {
   padding: 20px;
   .information-title {
   }
   .information-container {
      width: 100%;
      margin-bottom: 5px;
      border: none;
      .information-question {
         background-color: #f7f5f0;
         padding: 10px;

         cursor: pointer;
         &:hover {
            color: #b78a28;
         }
      }
      .information-answer {
         white-space: pre-line; //cho phép xuống dòng theo \n
         padding: 15px;
      }
   }
}
