.footer-container {
   display: flex;
   align-items: center;
   flex-direction: column;
   background-image: url("../../assets/images/footer-bg.png");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   padding: 0 10%;
   border-top: 1px solid #ccc;
   padding-top: 25px;
   min-height: 300px;
   z-index: 1;
   .logo {
      width: 64px;
      height: 64px;
   }
   .about {
      margin: 0 10%;
      text-align: center;
      font-size: 14px;
   }
}
