.upload-container {
   justify-content: center;
   .btn-container {
      display: flex;
      flex-direction: column;
      gap: 10%;
      .upload-btn,
      .clear-btn {
         display: flex;
         align-items: center;
         justify-content: space-between;
         width: 130px;
         height: 45px;
         font-size: 13px;
         font-weight: bold;
         color: #fff;
         background-color: #001529;
         border-radius: 10px;
         // gap: 10%;
         padding: 20px;
         &:hover {
            opacity: 0.8;
            cursor: pointer;
         }
      }
      .clear-btn {
         background-color: #dc3545;
         &:hover {
            background-color: #b02a37;
            cursor: pointer;
            opacity: 1;
         }
      }
   }

   .preview-img {
      min-height: 100px;
      border: 1px solid gray;
      flex: 1;
      background: center center no-repeat;
      background-size: contain;
   }
}
