.account-page {
   padding: 20px 10px;
   .link-profile {
      background-color: #fcfcfa;
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 14px;
      color: #333;
      padding: 12px 20px;

      cursor: pointer;
      &:hover {
         color: #fff;
         background-color: var(--main-color);
      }
   }
   .ant-tabs-tab-btn {
      font-size: 17px;
   }
}
