.section-header {
   display: flex;
   justify-content: space-between;
   a {
      font-size: 13px;
      font-weight: 500;
      color: var(--main-color);
      display: none;
   }

   &:hover {
      a {
         display: block;
      }
   }
}
