.book-card {
   .col-3 {
      padding: 3px;
      .card-image {
         width: 100%;
         height: auto;
      }
   }

   .left-rank {
      width: 15%;
      padding-left: 0;
      .card-image {
         width: 100%;
         height: auto;
      }
   }

   .card-info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      &.right-rank {
         width: 85%;
      }
      .title {
         color: #000;
         display: -webkit-box;
         -webkit-line-clamp: 1;
         -webkit-box-orient: vertical;
         overflow: hidden;
         text-overflow: ellipsis;
         font-weight: 500;
         font-size: 13px;
      }
      .rating-info {
         display: flex;
         margin: 3px 0;
         .rating-point {
            background-color: var(--bg-danger);
            color: #fff;
            border-radius: 30px;
            padding: 0 10px;
            font-weight: 500;
            font-size: 14px;
         }
         .rating-count {
            margin-left: 10px;
            font-size: 14px;
            color: #088860;
            font-weight: 500;
         }
      }
      .description {
         font-size: 13px;
         color: #666;
         display: -webkit-box;
         -webkit-box-orient: vertical;
         overflow: hidden;
         text-overflow: ellipsis;
         -webkit-line-clamp: 2;
         &.rank {
            -webkit-line-clamp: 3;
         }
      }
      .more-info {
         justify-content: space-between;
         &.rank {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 30px;
            .author,
            .genre {
               max-width: none;
               padding: 0 5px;
            }
            .count {
               color: #666;
               font-size: 13px;
            }
         }
         .author {
            font-size: 13px;
            font-weight: 600;
            color: #666;
            max-width: 140px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
         }
         .genre {
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
            color: #b78a28;
            border: 1px solid #b78a28;
            text-align: center;
         }
      }
   }
   .newest-book-info {
      min-height: 151px;
      .title {
         display: block;
      }
      .description {
         -webkit-line-clamp: 3;
      }
   }
}
