.comment-form {
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 10px 0;
   .user-image {
      height: 45px;
      width: 45px;
      border-radius: 50%;
   }
   .comment-field {
      flex: 1;
      position: relative;
      display: flex;
      align-items: center;

      .comment-input {
         //   position: absolute;
         min-height: 100px;
         flex: 1;
         padding: 20px;
         padding-right: 50px;
         background-color: #eee;
         border-radius: 30px;
         outline: none;
         border: none;
         &:focus {
            outline: 1px solid #b78a28;
         }
      }
      .comment-send {
         font-size: 20px;
         margin-right: 20px;
         position: absolute;
         right: 0;
         color: #222;
      }
   }
}
