.just-read {
   .mySwiper {
      background-color: #f7f5f0;
      .swiper-slide {
         padding: 48px;
         .history-slide {
            .slider-img {
               &:hover {
                  opacity: 0.8;
               }
            }

            .book-info {
               .title {
                  color: #333;
                  &:hover {
                     color: var(--main-color);
                  }
               }

               .author {
                  font-size: 13px;
                  font-weight: 500;
                  color: #666;
                  cursor: default;
               }
               .description {
                  margin-top: 10px;
                  display: -webkit-box;
                  -webkit-line-clamp: 5;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size: 13px;
                  cursor: default;
               }
            }
         }
      }
      .swiper-button-prev,
      .swiper-button-next {
         color: #666;
         width: 27px;
         height: 44px;

         &::after {
            font-size: 30px;
            font-weight: 600;
         }
         &:hover {
            opacity: 0.8;
         }
      }
   }
}
