.book-info-list {
   display: flex;
   gap: 7px;

   .list-item {
      border: 1px solid;
      border-radius: 30px;
      padding: 2px 10px;
      font-size: 14px;
      color: transparent;

      &.author {
         color: #666;
      }
      &.status {
         color: #bf2c24;
      }
      &.genre {
         color: #b78a28;
      }
      &.character {
         color: #04402d;
      }
      &.world {
         color: #088860;
      }
      &.feature {
         color: #04402d;
      }
      &.pov {
         color: #04402d;
      }
   }
}
