.genre {
   position: relative;
   .genre-menu {
      display: none;
   }
   &:hover {
      .genre-menu {
         box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.09);
         text-align: left;
         position: absolute;
         z-index: 20;
         top: var(--header-height);
         left: 0;
         display: flex;
         padding: 10px 20px;
         width: 500px;
         margin-left: 1px;
         background-color: #fff;
         .genre-item {
            padding: 10px 30px;
            font-weight: 400;
            color: #000;
            &:hover {
               color: #b78a28;
            }
         }
      }
   }
}
