.profile-tab {
   display: flex;
   flex-direction: column;

   .user-avatar {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      p {
         margin-top: 10px;
         font-style: italic;
         font-size: 16px;
      }
      .avatar-image {
         width: 140px;
         height: 140px;
         border-radius: 50%;
         background-position: center center;
         background-repeat: no-repeat;
         background-size: cover;

         &:hover {
            opacity: 0.8;
         }
         .upload-file {
            height: 100%;
            width: 100%;
            opacity: 0;
            cursor: pointer;
         }
      }
   }
}
