.comment {
   padding: 0;
   padding: 20px !important;
   .d-flex {
      justify-content: space-between;
      select {
         border-radius: 0.25rem;
         padding: 6px 28px 6px 12px;
         font-size: 14px;
         background-repeat: no-repeat;
         background-position: right 0.75rem center;
         background-size: 8px 10px;
         appearance: none;
         &:focus {
            outline: 1px solid var(--main-color);
         }
      }
   }
}
