.random-banner {
   background-position: 50% 0;
   background-repeat: no-repeat;
   background-size: cover;
   left: 0px;
   overflow: hidden;
   width: 100%;
   height: 388px;
}

.banner-container {
   padding: 20px;
   gap: 20px;
   justify-content: center;
   .banner-item {
      width: 100%;
      height: 170px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
   }
   hr {
      margin: 0;
   }
}
