.notification-page {
   padding: 10px 20px;
   .notification-header {
      width: 100%;
      display: flex;
      font-weight: 600;

      justify-content: space-between;
      .fa-check {
         cursor: pointer;
         &:hover {
            color: var(--main-color);
         }
      }
   }
   .notification-container {
      .notification-item {
         padding: 10px 0;
         display: flex;
         align-items: center;
         justify-content: space-between;
         font-weight: 500;
         color: #333;
         img {
            padding: 0;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            cursor: pointer;
         }
         .notification-content {
            flex: 1;
            margin-left: 10px;
            .notification-title {
               cursor: pointer;
               &:hover {
                  color: var(--main-color);
               }
            }
            .notification-time {
               color: #666;
               font-size: 13px;
            }
         }

         .dropleft {
            .dropdown-menu {
               padding: 12px 0;
               font-weight: 400;
               .dropdown-item {
                  padding: 6px 20px;
                  cursor: pointer;
                  &:hover {
                     background-color: transparent;
                     color: var(--main-color);
                  }
               }
            }
         }
      }
   }
}
