.setting {
   .form-item {
      display: flex;
      flex-direction: column;
      padding: 10px 0;
      label {
         font-weight: 500;
      }
      input,
      textarea {
         padding: 6px 12px;
         border: 1px solid #eee;
      }
   }
   .btn-submit {
      display: flex;
      justify-content: flex-end;
   }
}
